<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Agendamentos</title>
    <style>
        body{
            color: blue;
        }
        header{
            width: 100px;
            border-radius: 10px;
            color: rgb(0, 0, 255);
            text-align: center;

        }
        .form-container{
            color: yellow;
        }
    </style>
</head>
<body>
<header>
    <div>
        <h1>
            Meus Agendamentos Ativos
        </h1>
    </div>
</header>

<div class="form-container">




</div>

</body>
</html>